<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Breed Details</title>
  </head>
  <body>
    <img style = 'height: 40px;' src= {{ image_url }} alt="Breed">
    <caption><a href= {{ content_url }}>{{ title }}</a> by {{ author }} / <a href= {{ license_url }} >CC BY</a></caption>

    <h1>{{breed_id}} {{breed_type}}</h1>
    <table border=1>
        <tr>
            <th>Height</th>
            <th>Weight</th>
            <th>Coat</th>
            <th>Color</th>
            <th>Life Span</th>
            <th>Litter Size</th>
        </tr>

        <tr>
            <td>{{height}}</td>
            <td>{{weight}}</td>
            <td>{{coat}}</td>
            <td>{{color}}</td>
            <td>{{life_span}}</td>
            <td>{{litter_size}}</td>
        </tr>

    </table>


  </body>
</html>
