<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/index.css">
    <style>
      table{margin: auto;}
      tr, td, th, table{border:none; padding: 0 30px; margin: 0;}
    </style>
    <title>Breed Details</title>
  </head>
  <body>
    <header>
      <nav>
      <a href="/">Home</a>
      <a href="/breeds">Breeds</a>
      </nav>
    </header>
    <h1>{{breed_id}} - {{breed_type}}</h1>
    <img id= 'doggie' src= {{ image_url }} alt="Breed">
    <div style = 'text-align: center; margin-bottom: 40px;'><a href= {{ content_url }}>"{{ title }}"</a> by {{ author }} &copy / <a href= {{ license_url }} >CC BY</a></div>


    <table border=1>
        <tr>
            <th>Height</th>
            <th>Weight</th>
            <th>Coat</th>
            <th>Color</th>
            <th>Life Span</th>
            <th>Litter Size</th>
        </tr>

        <tr>
            <td>{{height}}</td>
            <td>{{weight}}</td>
            <td>{{coat}}</td>
            <td>{{color}}</td>
            <td>{{life_span}}</td>
            <td>{{litter_size}}</td>
        </tr>

    </table>

  <footer style = 'font-size: 11px;'>Free Vector Graphics by <a href="https://vecteezy.com">www.Vecteezy.com</a>, This product includes data created by <a href="http://www.maxmind.com/">MaxMind</a>, Powered by <a href="http://www.petfinder.com">Petfinder</a>, This product uses the Flickr API but is not endorsed or certified by Flickr</footer>
  </body>
</html>
