<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Breeds</title>
<link rel="stylesheet" href="../static/breedshtml.css">
</head>
<body>
<h1>Dog Breed Types</h1>
<img class='icon' src="../static/dog-house.png" alt="icon">

<form action="/breeds" method="POST">
    Sort By:<br/>
    <input type="radio" name="sortby" value="breed"/> Breed <br/>
    <input type="radio" name="sortby" value="breed_group"/> Breed_Group <br/>
    <input type="radio" name="sortby" value="origin"/> Origin <br/>
    <input type="radio" name="sortby" value="count"/> Count Available <br/>
    <br/>
    Sort Order:<br/>
    <input type="radio" name="sortorder" value="asc"/> Ascending <br/>
    <input type="radio" name="sortorder" value="desc"/> Descending <br/>
    <br/>
    <input type="submit" name="update" value="Update"/>
    <br/>
    <br/>
</form>



<table border=1>
    <tr>
        <th>Id</th>
        <th>Breed</th>
        <th>Breed_Group</th>
        <th>Origin</th>
        <th>Count Available</th>

    </tr>
{% for dog in breeds_list %}
    <tr>
        <td>{{dog[0]}}</td>
        <td><a href= {{dog[5]}} >{{dog[1]}}</a></td>
        <td>{{dog[2]}}</td>
        <td>{{dog[3]}}</td>
        <td><a href= /map/{{dog[0]}} >{{dog[4]}}</a></td>

    </tr>
{% endfor %}
</table>
</body>
