
<link rel="stylesheet" href="/static/master.css">

<h1> All Dog Breed Types </h1>


<form action="/dogs" method="POST">
    Sort By:<br/>
    <input type="radio" name="sortby" value="breed"/> Breed <br/>
    <input type="radio" name="sortby" value="breed_group"/> Breed_Group <br/>
    <input type="radio" name="sortby" value="origin"/> Origin <br/>
    <br/>
    Sort Order:<br/>
    <input type="radio" name="sortorder" value="asc"/> Ascending <br/>
    <input type="radio" name="sortorder" value="desc"/> Descending <br/>
    <br/>
    <input type="submit" name="update" value="Update"/>
    <br/>
    <br/>
</form>



<table border=1>
    <tr>
        <th>Breed</th>
        <th>Breed_Group</th>
        <th>Origin</th>
    </tr>
{% for dog in dogs_list %}
    <tr>
        <td>{{dog[0]}}</td>
        <td>{{dog[1]}}</td>
        <td>{{dog[2]}}</td>
        <td>{{dog[3]}}</td>
    </tr>
{% endfor %}
</table>
