<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>Dogs</title>
  </head>
  <body>
    <header>
      <nav>
      <a href="/">Home</a>
      <a href="/breeds">Breeds</a>
      </nav>
    </header>
    <h1>Hello World!</h1>
    <h2>This site is about Dogs</h2>
    <img id = 'doggie' src="../static/doggie.jpg" alt="img">
    <p>Namely, this is about Dogs available for adoption. You can check out information on different types of breeds, map out breeds nearby, and learn about specific dogs available for adoption</p>
    <h2><a href="/breeds">Find a Dog!</a></h2>

    <footer style = 'font-size: 11px;'>Free Vector Graphics by <a href="https://vecteezy.com">www.Vecteezy.com</a>, This product includes data created by <a href="http://www.maxmind.com/">MaxMind</a>, Powered by <a href="http://www.petfinder.com">Petfinder</a>, This product uses the Flickr API but is not endorsed or certified by Flickr</footer>
  </body>
</html>
